<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/flipcard.css">
    <title>Flip Card</title>
</head>
<body>
    <div class="wrapper">
        <div class="card-container">
            <div class="flip-card">
                <div class="card flip-card-front">
                    <h3 class="content">Front</h3>
                </div>
                <div class="card flip-card-back">
                    <h3 class="content">Back</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>