<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food</title>
    <link rel="stylesheet" href="../css/slick.css">
    
    <link rel="stylesheet" href="../css/grid.css" />
    <link rel="stylesheet" href="../font/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/base.css" />
    
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/responsive.css">
    
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
         
        <div class="header-top">
          <div class="container">
            <div class="center-logo">
              <a href="#home" class="link_logo" title="logo">
                <img
                  src="../image/logo.png"
                  alt="Logo"
                  title="Logo"
                  class="logo_img"
                />
              </a>
            </div>
          </div>
          <div class="icon_menu-mobile">
            <span class="crossbar"></span>
            <span class="crossbar"></span>
            <span class="crossbar"></span>
          </div>
        </div>
       
        <nav class="navbar nav-app">
          <div class="container">
            <ul class="nav--list row">
              <li class="nav--item">
                <a href="#home" class="nav--link active">Home</a>
              </li>
              <li class="nav--item">
                <a href="#menu" class="nav--link">Our Menu</a>
              </li>
              <li class="nav--item">
                <a href="#delicous_food" class="nav--link">Delicous Food</a>
              </li>
              <!-- <li class="nav--item brand_logo-scroll">
                <a href="" class="logo-link">
                  <img src="../image/logo.png"
                  alt="Logo"
                  title="Logo"
                  class="logo_img">
                </a>
              </li> -->
              <li class="nav--item">
                <a href="#mega_deal" class="nav--link">Mega Deal</a>
              </li>
              <li class="nav--item">
                <a href="#our_blog" class="nav--link">Our Blog</a>
              </li>
              <li class="nav--item">
                <a href="#contact" class="nav--link">Contact Us</a>
              </li>
            </ul>

            <!-- menu-mobile start -->
             
              <div class="menu-mobile">
                <span class="icon-exit">
                  <i class="fas fa-times"></i>
                </span>
                <ul class="nav-mobile--list">
                  <li class="nav-mobile--item">
                    <a href="#home" class="nav-mobile--link active">Home</a>
                  </li>
                  <li class="nav-mobile--item">
                    <a href="#menu" class="nav-mobile--link">Our Menu</a>
                  </li>
                  <li class="nav-mobile--item">
                    <a href="#delicous_food" class="nav-mobile--link">Delicous Food</a>
                  </li>
                  <li class="nav-mobile--item">
                    <a href="#mega_deal" class="nav-mobile--link">Mega Deal</a>
                  </li>
                  <li class="nav-mobile--item">
                    <a href="#our_blog" class="nav-mobile--link">Our Blog</a>
                  </li>
                  <li class="nav-mobile--item">
                    <a href="#contact" class="nav-mobile--link">Contact Us</a>
                  </li>
                </ul>
              </div>
             <!-- menu-mobile end -->
          </div>
        </nav>

        <div class="introduce_web">
          <div class="introduce_web--content container">
            <div class="row introduce-text">
              <div class="col-md-6">
                <h3 class="introduce--title">Mounth Watering</h3>
                <h2 class="introduce--heading">Delicous Food</h2>
                <p class="introduce--description">
                  One stop place for you to lorem insum dolor sit amet
                  consectuere asep adispiscing set diam link heaven one stop
                  place for you to lorem ipsum dolor sit amet consecture
                  adispiscing.
                </p>
                <a href="#delicous_food" class="link_delicous">
                  <button class="btn btn-primary">Learn More</button>
                </a>
              </div>
            </div>

            <img src="../image/slider-ele5.png" alt="" class="slider_img" id="slider_5">
            <img src="../image/slider-ele7.png" alt="" class="slider_img" id="slider_7">
            <img src="../image/slider-ele1.png" alt="" class="slider_img" id="slider_1">
          </div>
        </div>
        <aside class="img_left">
          <img src="../image/slider-ele3.png" alt="" class="img_pizza" id="slider_3">
        </aside>
        <aside class="img_right">
          <img src="../image/slider-ele6.png" alt="" class="img_spice" id="slider_6">
        </aside>
        <aside class="img_top_right">
          <img src="../image/slider-ele2.png" alt="" class="img_leaf" id="slider_2">
        </aside>
        <aside class="img_top_left">
          <img src="../image/slider-ele4.png" alt="" class="img_tomato" id="slider_4">
        </aside>
      </header>

      <main id="main">
        <section class="quantity_food" id="about">
          <div class="container">
            <div class="row about--content">
              <div class="col-md-9">
                <img src="../image/ziczac.png" alt="" class="img_ziczac">
                <h4 class="quantity_food--title">Top quantity food</h4>
                <h2 class="quantity_food--reson">Why <span>MegaOne</span> Is Delicious</h2>
                <div class="row quantity_food--detail">
                  <div class="col col-12 col-md-6 box_about-img">
                      <img src="../image/about-img.jpg" alt="" class="img_about">
                  </div>
                  <div class="col col-md-6 col-12">
                    <ul class="reason-list">
                      <li class="reason-item">
                        <div class="icon-group">
                          <i class="fas fa-utensils reason-item--icon"></i>
                        </div>
                        <div class="reason-item--content">
                          <p class="reason-item--name">We are food lovers</p>
                          <p class="reason-item--desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, unde!</p>
                        </div>
                      </li>
                      <li class="reason-item">
                        <div class="icon-group">
                          <i class="fas fa-pizza-slice reason-item--icon"></i>
                        </div>
                        <div class="reason-item--content">
                          <p class="reason-item--name">Diversity in food</p>
                          <p class="reason-item--desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, unde!</p>
                        </div>
                      </li>
                      <li class="reason-item">
                        <div class="icon-group">
                          <i class="fas fa-truck reason-item--icon"></i>
                        </div>
                        <div class="reason-item--content">
                          <p class="reason-item--name">100% Free Delivery</p>
                          <p class="reason-item--desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, unde!</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
  
        <section class="delicous_menu" id="menu">
          <div class="container">
            <div class="row menu-content">
              <article class="menu_introduce">
                  <img src="../image/ziczac2.png" alt="" class="img_ziczac">
                  <h4 class="menu_food--title">Checkout the food</h4>
                  <h2 class="menu_food--heading">Our Delicious Menu</h2>
              </article>
              <div class="meal_day">
                <ul class="meal_day-list">
                  <li class="meal_day-item">
                    <i class="fas fa-coffee"></i>
                     <p class="meal_day-name">Breakfast</p>
                  </li>
                  <li class="meal_day-item active">
                    <i class="fas fa-beer"></i>
                    <p class="meal_day-name">Lunch</p>
                  </li>
                  <li class="meal_day-item">
                    <i class="fas fa-utensils"></i>
                    <p class="meal_day-name">Dinner</p>
                  </li>
                </ul>
              </div>
              
              <div class="menu_food container">
                <div class="row">
                 <div class="col col-md-6 col-xl-6">
                  <ul class="food_list food_left">
                    <li class="food_item--info">
                      <div class="food-item">
                        <p class="food-name">Plain Pancakes</p>
                        <p class="food-desc">survived not only five centuries but the leap</p> 
                      </div>
                      <p class="food-price">60.00</p>
                    </li>
                    <li class="food_item--info">
                      <div class="food-item">
                        <p class="food-name">Ultimate Organic Fruit Salad</p>
                        <p class="food-desc">Donec Eget augue at diam euismod viverra</p> 
                      </div>
                      <p class="food-price">68.00</p>
                    </li>
                    <li class="food_item--info">
                      <div class="food-item">
                        <p class="food-name">Toasted Jam</p>
                        <p class="food-desc">Phasellus a ex accumsan, sollicitudin</p> 
                      </div>
                      <p class="food-price">22.00</p>
                    </li>
                    <li class="food_item--info">
                      <div class="food-item">
                        <p class="food-name">Prawns Butter Garlic</p>
                        <p class="food-desc">Phasellus a ex accumsan, sollicitudin</p> 
                      </div>
                      <p class="food-price">39.00</p>
                    </li>
                    <li class="food_item--info">
                      <div class="food-item">
                        <p class="food-name">Toasted Jam</p>
                        <p class="food-desc">Phasellus a ex accumsan, sollicitudin</p> 
                      </div>
                      <p class="food-price">85.00</p>
                    </li>
                  </ul>
                 </div>
                  <div class="col col-md-6 col-xl-6">
                    <ul class="food_list food_right">
                      <li class="food_item--info">
                        <div class="food-item">
                          <p class="food-name">Plain Pancakes</p>
                          <p class="food-desc">survived not only five centuries but the leap</p> 
                        </div>
                        <p class="food-price">60.00</p>
                      </li>
                      <li class="food_item--info">
                        <div class="food-item">
                          <p class="food-name">Ultimate Organic Fruit Salad</p>
                          <p class="food-desc">Donec Eget augue at diam euismod viverra</p> 
                        </div>
                        <p class="food-price">68.00</p>
                      </li>
                      <li class="food_item--info">
                        <div class="food-item">
                          <p class="food-name">Toasted Jam</p>
                          <p class="food-desc">Phasellus a ex accumsan, sollicitudin</p> 
                        </div>
                        <p class="food-price">22.00</p>
                      </li>
                      <li class="food_item--info">
                        <div class="food-item">
                          <p class="food-name">Prawns Butter Garlic</p>
                          <p class="food-desc">Phasellus a ex accumsan, sollicitudin</p> 
                        </div>
                        <p class="food-price">39.00</p>
                      </li>
                      <li class="food_item--info">
                        <div class="food-item">
                          <p class="food-name">Toasted Jam</p>
                          <p class="food-desc">Phasellus a ex accumsan, sollicitudin</p> 
                        </div>
                        <p class="food-price">85.00</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
  
        <section class="history_brand">
          <div class="container prosper">
            <div class="row">
              <div class="col col-lg-3 card-content">
                <p class="history_intro">
                  Taste of <span>25 Years</span>
                  and counting...
                </p>
                <p class="history_desc">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, excepturi.
                </p>
                <button class="btn btn-primary">Read more</button>
              </div>
              <div class="col col-lg-3 card-container">
                <div class="card-prosper">
                  <div class="card-prosper-front">
                    <i class="fas fa-coffee"></i>
                    <span class="count">3785+</span>
                    <span class="name_serve">Cup of tea</span>
                  </div>
                  <div class="card-prosper-back">
                    <i class="fas fa-coffee"></i>
                    <span class="count">3785+</span>
                    <span class="name_serve">Cup of tea</span>
                  </div>
                </div>
              </div>
              <div class="col col-lg-3 card-container">
                <div class="card-prosper">
                  <div class="card-prosper-front">
                    <i class="fas fa-coffee"></i>
                    <span class="count">9800+</span>
                    <span class="name_serve">Satisified Customers</span>
                  </div>
                  <div class="card-prosper-back">
                    <i class="fas fa-coffee"></i>
                    <span class="count">9800+</span>
                    <span class="name_serve">Satisified Customers</span>
                  </div>
                </div>
              </div>
              <div class="col col-lg-3 card-container">
                <div class="card-prosper">
                  <div class="card-prosper-front">
                    <i class="fas fa-hamburger"></i>
                    <span class="count">1052+</span>
                    <span class="name_serve">Online order</span>
                  </div>
                  <div class="card-prosper-back">
                    <i class="fas fa-hamburger"></i>
                    <span class="count">1052+</span>
                    <span class="name_serve">Online order</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
  
        <section class="book_now">
          <div class="container">
            <div class="row">
              <div class="img-group-book">
                <img src="../image/booking-1.png" alt="" class="booking-1">
                <img src="../image/slider-ele1.png" alt=""  class="booking-2">
              </div>
              <div class="col col-xl-12 col-sm-12 book-content">
                  <img src="../image/ziczac2.png" alt="" class="img_ziczac">
                  <h4 class="book--title">have an event</h4>
                  <h2 class="book--heading">Book MegaOne Now</h2>
                  <p class="book--desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum reprehenderit facere expedita enim corrupti iusto?
  
                    Rerum reprehenderit facere expedita enim corrupti iusto?
                  </p>
                  <button class="btn btn-primary">Book now</button>
              </div>
            </div>
          </div>
        </section>
  
        <section class="delicous_food" id="delicous_food">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-12">
                  <img src="../image/ziczac2.png" alt="" class="img_ziczac">
                  <h4 class="delicous_food--title">our food gallery</h4>
                  <h2 class="delicous_food--heading">Our Delicous Food</h2>
              </div>
            </div>
            <div class="row gallery_food-list">
              <div class="col-md-2 gallery_food-item">
                <div class="item-img">
                  <img src="../image/gallery-img1.jpg" alt="" class="gallery_img">
                </div>
                <div class="info-text--overlay">
                  <span class="box-icon--spoon">
                    <i class="fas fa-utensils"></i>
                  </span>
                  <p class="signature-food">Egg Special</p>
              </div>
              </div>
              <div class="col-md-8 gallery_food-item">
                <div class="item-img">
                  <img src="../image/gallery-img2.jpg" alt="" class="gallery_img">
                </div>
                <div class="info-text--overlay">
                  <span class="box-icon--spoon">
                    <i class="fas fa-utensils"></i>
                  </span>
                  <p class="signature-food">Grill Beef</p>
              </div>
              </div>
              <div class="col-md-2 gallery_food-item">
                <div class="item-img">
                  <img src="../image/gallery-img3.jpg" alt="" class="gallery_img">
                </div>
                <div class="info-text--overlay">
                  <span class="box-icon--spoon">
                    <i class="fas fa-utensils"></i>
                  </span>
                  <p class="signature-food">Chicken Veggie Bread</p>
              </div>
              </div>
            </div>
            <div class="row gallery_food-list">
              <div class="col-md-3 gallery_food-item">
                <div class="item-img">
                  <img src="../image/gallery-img4.jpg" alt="" class="gallery_img">
                </div>
                <div class="info-text--overlay">
                  <span class="box-icon--spoon">
                    <i class="fas fa-utensils"></i>
                  </span>
                  <p class="signature-food">Fries and Salad</p>
              </div>
              </div>
              <div class="col-md-3 gallery_food-item">
                <div class="item-img">
                  <img src="../image/gallery-img5.jpg" alt="" class="gallery_img">
                </div>
                
                  <div class="info-text--overlay">
                      <span class="box-icon--spoon">
                        <i class="fas fa-utensils"></i>
                      </span>
                      <p class="signature-food">Chicago Pizza</p>
                  </div>
                
              </div>
              <div class="col-md-3 gallery_food-item">
                <div class="item-img">
                  <img src="../image/gallery-img6.jpg" alt="" class="gallery_img">
                </div>
                <div class="info-text--overlay">
                  <span class="box-icon--spoon">
                    <i class="fas fa-utensils"></i>
                  </span>
                  <p class="signature-food">Grill Burger</p>
              </div>
              </div>
              <div class="col-md-3 gallery_food-item">
                <div class="item-img">
                  <img src="../image/gallery-img7.jpg" alt="" class="gallery_img">
                </div>
                <div class="info-text--overlay">
                  <span class="box-icon--spoon">
                    <i class="fas fa-utensils"></i>
                  </span>
                  <p class="signature-food">Cheese Pizza</p>
              </div>
              </div>
            </div>
            <div class="row gallery_food-list">
              <div class="col-md-3 gallery_food-item">
                <div class="item-img">
                  <img src="../image/gallery-img8.jpg" alt="" class="gallery_img">
                </div>
                <div class="info-text--overlay">
                  <span class="box-icon--spoon">
                    <i class="fas fa-utensils"></i>
                  </span>
                  <p class="signature-food">Fish Burger</p>
              </div>
              </div>
              <div class="col-md-3 gallery_food-item">
                <div class="item-img">
                  <img src="../image/gallery-img9.jpg" alt="" class="gallery_img">
                </div>
                <div class="info-text--overlay">
                  <span class="box-icon--spoon">
                    <i class="fas fa-utensils"></i>
                  </span>
                  <p class="signature-food">Egg Noodles</p>
              </div>
              </div>
              <div class="col-md-3 gallery_food-item">
                <div class="item-img">
                  <img src="../image/gallery-img10.jpg" alt="" class="gallery_img">
                </div>
                <div class="info-text--overlay">
                  <span class="box-icon--spoon">
                    <i class="fas fa-utensils"></i>
                  </span>
                  <p class="signature-food">Veggie</p>
              </div>
              </div>
              <div class="col-md-3 gallery_food-item">
                <div class="item-img">
                  <img src="../image/gallery-img11.jpg" alt="" class="gallery_img">
                </div>
                <div class="info-text--overlay">
                  <span class="box-icon--spoon">
                    <i class="fas fa-utensils"></i>
                  </span>
                  <p class="signature-food">Chicken Wraps</p>
              </div>
              </div>
            </div>
          </div>
        </section>
  
        <section class="promotion" id="mega_deal">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-12">
                  <img src="../image/ziczac.png" alt="" class="img_ziczac">
                  <h4 class="promotion--title">taste our food</h4>
                  <h2 class="promotion--heading">Our Mega Deals</h2>
              </div>
            </div>
            <div class="row slider_deal">
              <div class="col deal-container">
                <div class="item-deal">
                  <div class="mega-item-deal">
                    <div class="deal-img">
                      <img src="../image/deal-img1.jpg" alt="">
                    </div>
                  </div>
                  <p class="deal-name">
                    Two Person Deal
                  </p>
                  <p class="deal-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente nam ipsum architecto sed optio!
                  </p>
                  <p class="deal-price">199</p>
                </div>
              </div>
              <div class="col deal-container">
                <div class="item-deal">
                  <div class="mega-item-deal">
                    <div class="deal-img">
                      <img src="../image/deal-img2.jpg" alt="">
                    </div>
                  </div>
                  <p class="deal-name">
                    Weekend Brunch
                  </p>
                  <p class="deal-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente nam ipsum architecto sed optio!
                  </p>
                  <p class="deal-price">199</p>
                </div>
              </div>
              <div class="col deal-container">
                <div class="item-deal">
                  <div class="mega-item-deal">
                    <div class="deal-img">
                      <img src="../image/deal-img3.jpg" alt="">
                    </div>
                  </div>
                  <p class="deal-name">
                    Midnight Feast
                  </p>
                  <p class="deal-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente nam ipsum architecto sed optio!
                  </p>
                  <p class="deal-price">199</p>
                </div>
              </div>
              <div class="col deal-container">
                <div class="item-deal">
                  <div class="mega-item-deal">
                    <div class="deal-img">
                      <img src="../image/deal-img2.jpg" alt="">
                    </div>
                  </div>
                  <p class="deal-name">
                    Midnight Feast
                  </p>
                  <p class="deal-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente nam ipsum architecto sed optio!
                  </p>
                  <p class="deal-price">199</p>
                </div>
              </div>
              <div class="col deal-container">
                <div class="item-deal">
                  <div class="mega-item-deal">
                    <div class="deal-img">
                      <img src="../image/deal-img3.jpg" alt="">
                    </div>
                  </div>
                  <p class="deal-name">
                    Midnight Feast
                  </p>
                  <p class="deal-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente nam ipsum architecto sed optio!
                  </p>
                  <p class="deal-price">199</p>
                </div>
              </div>
            </div>
            <div class="row arrow-group">
              
            </div>
          </div>
        </section>
  
        <section class="quantity_recipes" id="our_blog">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-12">
                <img src="../image/ziczac.png" alt="" class="img_ziczac">
                <h4 class="quantity_recipes--title">top quantity recipes</h4>
                <h2 class="quantity_recipes--heading">Read <span class="text-color">MegaOne's</span> Blogs</h2>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-8 col-12">
                <div class="blog">
                  <div class="quantity_recipes-img">
                    <img src="../image/blog-img1.jpg" alt="" class="blog-img">
                  </div>
                  <div class="blog-content">
                    <p class="blog-title">How made food for your office</p>
                    <p class="blog-desc">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Vitae quis eaque nemo officia sunt voluptatum enim atque autem illo sapiente!
                    </p>
                    <a href="#" class="blog-link">Read more</a>
                  </div>
                </div>
              </div>
              <div class="col col-md-4 col-12">
                <div class="blog">
                    <div class="blog-small">
                      <div class="quantity_recipes-img">
                        <img src="../image/blog-img2.jpg" alt="" class="blog-img">
                      </div>
                      <div class="blog-content">
                        <p class="blog-title">A Lunch Full of Spices & Taste</p>
                        
                        <a href="#" class="blog-link">Read more</a>
                      </div>
                    </div>
                    <div class="blog-small">
                      <div class="quantity_recipes-img">
                        <img src="../image/blog-img3.jpg" alt="" class="blog-img">
                      </div>
                      <div class="blog-content">
                        <p class="blog-title">Midnight Deals are Perfect for yourself</p>
                        
                        <a href="#" class="blog-link">Read more</a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
  
        <section class="contact" id="contact">
          <div class="container">
            <div class="row">
              <div class="col col-md-6 col-12">
                <div class="contact-info">
                  <div class="contact-info--title">Contact
                    <span class="text-color">MegaOne</span>
                  </div>
                  <ul class="contact-info--list">
                    <li class="contact-info--item">
                      <i class="icon-contact fas fa-home"></i> 379 5th Ave NewYork, United States
                    </li>
                    <li class="contact-info--item">
                      <i class="icon-contact fas fa-clock"></i> Monday-Saturday: 9:00AM-23:00PM
                    </li>
                    <li class="contact-info--item">
                      <i class="icon-contact fas fa-envelope"></i> megaone@gmail.com
                    </li>
                    <li class="contact-info--item">
                      <i class="icon-contact fas fa-phone"></i> Phone: +1-23-456789
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col col-md-6 col-12">
                <div class="book-table">
                  <div class="book-table--title">
                    Book a <span class="text-color">Table</span>
                  </div>
                
                <form action="" method="get" id="form_book-table">
                  <div class="form-group">
                    <input type="text" name="name_custormer" id="name_custormer" placeholder="Your Name" class="form-control">
                    <span class="error"></span>
                  </div>
                  <div class="form-group">
                    <div class="form-group">
                      <input type="mail" name="mail_custormer" id="mail_custormer" placeholder="Your Mail" class="form-control">
                      <span class="error"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="date" name="date" id="date" placeholder="" class="form-control">
                    <span class="error"></span>
                  </div>
                  <div class="form-group">
                    <select name="time" id="time" class="form-control">
                      <option value="">6:00 PM</option>
                      <option value="">7:00 PM</option>
                      <option value="">8:00 PM</option>
                      <option value="">9:00 PM</option>
                    </select>
                    <span class="error"></span>
                  </div>
                  <button class="btn btn-primary" id="book_now">Book now</button>
                </form>
              </div>
              </div>
            </div>
          </div>  
        </section>
      </main>

      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="footer-content col col-12">
              <aside class="footer-left">
                <p class="brand"><span class="text-color">Mega</span>One</p>
                <p class="letter">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                  Voluptatum alias ipsum sequi soluta similique laboriosam?</p>
              </aside>
              <aside class="footer-right">
                <ul class="social-list">
                  <li class="social-item"><a href="" class="social-link facebook">
                    <i class="fab fa-facebook-f"></i>
                  </a></li>
                  <li class="social-item"><a href="" class="social-link twitter">
                    <i class="fab fa-twitter"></i>
                  </a></li>
                  <li class="social-item"><a href="" class="social-link linkedin">
                    <i class="fab fa-linkedin-in"></i>
                  </a></li>
                  <li class="social-item"><a href="" class="social-link instagram">
                    <i class="fab fa-instagram"></i>
                  </a></li>
                </ul>
              </aside>
            </div>
          </div>
        </div>
      </footer>
      <div class="scrollTop-app">
        <div class="box-iconScroll">
          <i class="fas fa-angle-double-up icon-scroll"></i>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" 
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/index.js"></script>
    
    
  </body>
</html>
